*.o
manyex
*.tab
lex.*
*.exe
example_simple/*.tex
example_simple/mn-*
example_simple/exam.*
example_simple/answer.*
example_simple/auto/
example_normal/*.tex
example_normal/mn-*
example_normal/exam.*
example_normal/answer.*
example_normal/*.eps
example_normal/auto/
example_web/*.tex
example_web/mn-*
example_web/exam.*
example_web/answer.*
example_web/*.eps
example_web/*.jpg
example_web/*.html
example_web/auto/
doc/manyex.info
/doc/manyex/
doc/auto/
